body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.participant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}
.bulb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
    margin-right: 10px;
}
.bulb.on {
    background-color: rgb(240, 13, 13);
}
.vote-button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 3px;
}
button {
    background: rgba(45, 126, 231, 1);
    color: white;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    transition: background(' 0.3s ease, transform 0.2s ease' );
}

button:hover {
    background: rgba(30, 90, 180, 1);
    transform: scale(1.05);
}