
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

h1 {
    font-weight: normal;
    font-size: 32px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    color: #21d54e;
}
h2{
    padding-left: 10px;
}

.vote {
    border: 1px solid #ccc;
    width: 500px;
    padding: 30px;
    background: url('/image\ 9.jpg');
    color: aliceblue;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    backdrop-filter: brightness(60%);
    background-color: rgba(0, 0, 0, -0.5);
    padding: 20px; 
    border-radius: 15px;
}


h1 {
    font-weight: bold;
    font-size: 36px;
    color: #4307f7;
    text-shadow: 0px 0px 3px rgba(24, 235, 17, 0.7);
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}


label {
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-weight: bold;
}


input, select {
    background: rgba(255, 255, 255, 0.3);
    color:rgb(15, 14, 14);
    font-size: 16px;
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    outline: none;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}
.my-element {
    background-color: white;
    box-shadow: none;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.my-element:hover {
    background-color: lightblue;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
input::placeholder {
    color: rgba(12, 4, 1, 0.7);
}


input:focus, select:focus {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}


button {
    background: rgba(45, 126, 231, 1);
    color:white;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: rgba(30, 90, 180, 1);
    transform: scale(1.05);
}


